{% extends 'base.html.twig' %}

{% block title %}
Contact - {{ parent() }}
<!-- parent() : appel le block parent title et l'affiche (base : beerTime) -->
{% endblock %}

{% block body %}
<h1>Contact</h1>
{% endblock %}