<footer>
    <p>BeerTime - Tous droits réservés {{ date()|date("Y") }}</p>
    <!-- date() : fonction twig qui revoie la date de maintenant, | : filtre twig, date("Y") : définit le format de datetime -->
    <!-- équivalent à : (new DateTime())->format("Y"); -->
</footer>