<div class="notification-manager">
    {# 
        level : niveau de sévérité
        messages : les différents messages ajoutés 
        app.flashes : les messages ajoutés via le controlleur 
    #}
    {% for level, messages in app.flashes %}
        {% for message in messages %}
            <div class="notification n-{{ level }}">
                <span>{{ message }}</span>
                <i class="fas fa-times notification-close"></i>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{# boucle for : 1er tour => level = notice, messages = Message 1 et Message 2
                2ème tour => level = error, messages = Message 1 et Message 2
        [
            'notice' => [
                'Message 1', 'Message 2'
            ],
            'error' => [
                'Message 1', 'Message 2'
            ]
        ]
    #}